In [13]:
import pandas as pd
import numpy as np

file_to_load = "../HeroesOfPymoli/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
# Display the total number of players
player_count = len(purchase_data["SN"].value_counts())
pd.DataFrame([player_count], columns = ["Total Number of Players"])

   Total Number of Players
0                      576

In [17]:
# Purchasing Analysis (Total)

# Finding Number of Unique Items
unique_items = len(purchase_data["Item ID"].value_counts())

In [19]:
# Average Price
average_price = round(purchase_data["Price"].mean(), 2)

In [20]:
# Number of purchases
number_purchases = purchase_data["Price"].count()

In [21]:
# Total money spent
total_revenue = round(purchase_data["Price"].sum(), 2)

In [23]:
analysis = []

analysis.append(unique_items)
analysis.append("$" + str(average_price))
analysis.append(num_purchases)
analysis.append("$" + str(total_revenue))

In [24]:
pd.DataFrame([analysis], columns = ["Number of Unique Items", "Average Price", 
                                             "Number of Purchases", "Total Revenue"])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [25]:
# Gender Demographics

# Grouping by gender
gender = purchase_data[["SN", "Gender"]]
gender = gender.drop_duplicates()
counts = gender["Gender"].value_counts()

In [27]:
percents = [round((counts[0]/player_count)*100,2),round((counts[1]/player_count)*100,2),round((counts[2]/player_count)*100,2)]
total_counts = [counts[0],counts[1],counts[2]]

In [28]:
gender_df = pd.DataFrame({
    "Percentage of Players": percents,
    "Total Count": total_counts})

gender_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_df

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

In [29]:
# Purchasing Analysis (Gender)

gender = purchase_data[["SN","Gender","Price"]]
counts = gender["Gender"].value_counts()

In [30]:
# Purchase count
purchase_count = [counts[0],counts[1],counts[2]]

gender = gender.groupby("Gender")
total_spent = gender.sum()
total_spent

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [35]:
# Average Purchase Price
avg_purchase = [total_spent.iloc[1,0]/counts[0], total_spent.iloc[0,0]/counts[1], total_spent.iloc[2,0]/counts[2]]

In [36]:
# Total Purchase Value
total_purchase_value = [total_spent.iloc[1,0], total_spent.iloc[0,0], total_spent.iloc[2,0]]

In [37]:
# Normalized Totals
normalized_totals = [total_spent.iloc[1,0]/counts[0], total_spent.iloc[0,0]/counts[1], total_spent.iloc[2,0]/counts[2]]

In [38]:
purchase_analysis_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase,
    "Total Purchase Value": total_purchase_value,
    "Normalized Totals": normalized_totals,
    "Gender": ["Male", "Female", "Other / Non-Disclosed"]})

purchase_analysis_df = purchase_analysis_df.set_index("Gender")
purchase_analysis_df = purchase_analysis_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", 
                                             "Normalized Totals"]]

In [39]:
purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}",
                                     "Normalized Totals": "${:.2f}"})

In [54]:
# Age Demographics

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [63]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
age_df = purchase_data.groupby(["Age Groups"])

total_age = age_df["Age"].sum()

In [64]:
age_purchase = purchase_data["Age Groups"].value_counts()

In [66]:
age_percentage = age_purchase / player_count

In [67]:
age_demographics = pd.DataFrame({"Total Count": age_purchase,
                             "Percentage of Players":age_percentage})

In [68]:
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format)

In [69]:
age_demographics = age_demographics.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

age_demographics

      Percentage of Players  Total Count
<10                   3.99%           23
10-14                 4.86%           28
15-19                23.61%          136
20-24                63.37%          365
25-29                17.53%          101
30-34                12.67%           73
35-39                 7.12%           41
40+                   2.26%           13

In [71]:
# Purchasing Analysis (Age)

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

In [76]:
age_purchase_total = purchase_data.groupby(["Age Groups"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Groups"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Groups"]).count()["Price"].rename("Purchase Count")

In [77]:
normalized_total = age_purchase_total / age_demographics["Total Count"]

In [78]:
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, 
                         "Total Purchase Value": age_purchase_total, "Normalized Totals": normalized_total})

In [79]:
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data["Normalized Totals"] = age_data["Normalized Totals"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]

In [80]:
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

In [81]:
# Top Spenders

senders = purchase_data[["SN","Price","Item Name"]]
total_spent = senders.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

In [82]:
names = list(total_spent.index.values)
top_names = [names[0],names[1],names[2],names[3],names[4]]

In [83]:
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], 
                       total_spent.iloc[2,0], total_spent.iloc[3,0], total_spent.iloc[4,0]]

In [84]:
top_purchase_counts_1 = senders[senders["SN"] == names[0]].count()[0]
top_purchase_counts_2 = senders[senders["SN"] == names[1]].count()[0]
top_purchase_counts_3 = senders[senders["SN"] == names[2]].count()[0]
top_purchase_counts_4 = senders[senders["SN"] == names[3]].count()[0]
top_purchase_counts_5 = senders[senders["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1, top_purchase_counts_2, 
                       top_purchase_counts_3, top_purchase_counts_4, top_purchase_counts_5]

In [85]:
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1, avg_price_2, avg_price_3, avg_price_4, avg_price_5]

In [86]:
top_spenders_dictionary = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_names}

In [87]:
top_spenders = pd.DataFrame(top_spenders_dictionary)
top_spenders = top_spenders.set_index("SN")
top_spenders = top_spenders[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

In [88]:
top_spenders.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [89]:
# Most Popular Items

items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items = items.groupby("Item ID").count()
popular_items.sort_values(by = "Item Name", ascending = False, inplace = True)
items = items.drop_duplicates(["Item ID", "Item Name"])

In [90]:
item_ids = [popular_items.index[0], popular_items.index[1], 
            popular_items.index[2], popular_items.index[3], popular_items.index[4]]

In [92]:
name_1 = items.loc[items["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = items.loc[items["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = items.loc[items["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = items.loc[items["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = items.loc[items["Item ID"] == item_ids[4], "Item Name"].item()
popular_item_names = [name_1, name_2, name_3, name_4, name_5]

In [93]:
item_counts = [popular_items.iloc[0,0], popular_items.iloc[1,0], 
               popular_items.iloc[2,0], popular_items.iloc[3,0], popular_items.iloc[4,0]]

In [94]:
price_1 = items.loc[items["Item Name"] == popular_item_names[0], "Price"].item()
price_2 = items.loc[items["Item Name"] == popular_item_names[1], "Price"].item()
price_3 = items.loc[items["Item Name"] == popular_item_names[2], "Price"].item()
price_4 = items.loc[items["Item Name"] == popular_item_names[3], "Price"].item()
price_5 = items.loc[items["Item Name"] == popular_item_names[4], "Price"].item()
item_prices = [price_1,price_2,price_3,price_4,price_5]

In [95]:
total_values = [popular_items.iloc[0,0]*price_1, popular_items.iloc[1,0]*price_2, popular_items.iloc[2,0]*price_3, 
                popular_items.iloc[3,0]*price_4, popular_items.iloc[4,0]*price_5]

In [98]:
popular_items = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": popular_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values})

popular_items = popular_items.set_index(["Item ID", "Item Name"])
popular_items = popular_items[["Purchase Count", "Item Price", "Total Purchase Value"]]

In [99]:
popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [100]:
# Most Profitable Items

items = purchase_data[["Item ID", "Item Name", "Price"]]
profitable_items = items.groupby("Item ID").sum()
profitable_items.sort_values(by = "Price", ascending = False, inplace = True)
items = items.drop_duplicates(["Item ID", "Price"])

In [101]:
item_ids = [profitable_items.index[0], profitable_items.index[1], profitable_items.index[2], 
            profitable_items.index[3], profitable_items.index[4]]

In [102]:
name_1 = items.loc[items["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = items.loc[items["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = items.loc[items["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = items.loc[items["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = items.loc[items["Item ID"] == item_ids[4], "Item Name"].item()
profit_names = [name_1, name_2, name_3, name_4, name_5]

In [103]:
values = [profitable_items.iloc[0,0],profitable_items.iloc[1,0],profitable_items.iloc[2,0], 
          profitable_items.iloc[3,0],profitable_items.iloc[4,0]]

In [104]:
price_1 = items.loc[items["Item ID"] == item_ids[0], "Price"].item()
price_2 = items.loc[items["Item ID"] == item_ids[1], "Price"].item()
price_3 = items.loc[items["Item ID"] == item_ids[2], "Price"].item()
price_4 = items.loc[items["Item ID"] == item_ids[3], "Price"].item()
price_5 = items.loc[items["Item ID"] == item_ids[4], "Price"].item()
profit_prices = [price_1,price_2,price_3,price_4,price_5]

In [105]:
profit = purchase_data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
count_1 = profit.loc[profit.index == profit_names[0], "Item ID"].item()
count_2 = profit.loc[profit.index == profit_names[1], "Item ID"].item()
count_3 = profit.loc[profit.index == profit_names[2], "Item ID"].item()
count_4 = profit.loc[profit.index == profit_names[3], "Item ID"].item()
count_5 = profit.loc[profit.index == profit_names[4], "Item ID"].item()
counts = [count_1, count_2, count_3, count_4, count_5]

In [106]:
profitable_items = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": profit_names,
    "Purchase Count": counts,
    "Item Price": profit_prices,
    "Total Purchase Value": values})

In [107]:
profitable_items = profitable_items.set_index(["Item ID", "Item Name"])
profitable_items = profitable_items[["Purchase Count", "Item Price", "Total Purchase Value"]]

In [109]:
profitable_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})